<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>{{article.name}}</title>
	<link href='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type='text/javascript' src='//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>



<style>
ul { list-style: none; }
.item img { width: 300px; }
.item span {
	display: block; }
</style>
</head>
<body>

<main>
	<h1>{{article.name}}</h1>
		<section class="item">

			<a href="{{article.image}}" data-fancybox="gallery"><img src="{{article.image}}" alt="image"></a>
			<span class="title">{{article.name}}</span>
			<span class="price">{{article.price}} р.</span>
			<span class="description">{{article.description}}</span>
			<a href="#" class="button">Купить</a>
		</section>


</main>

</body>
</html>